.contact {
  min-height: fit-content;
  background-repeat: no-repeat;
  background: rgba(0, 0, 0, 0.5) url("../../images/banner2.jpg");
  background-blend-mode: darken;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
