.brand {
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 3px;
  font-family: "Cinzel", serif;
  text-decoration: none;
  background: -webkit-linear-gradient(#1d71b8, #2d2e83);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}
.access-btn{
  width: 120px;
  height: 50px;
  margin: 10px;
  background: -webkit-linear-gradient(#1d71b8, #2d2e83);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px ;
  color: white;
  border-radius: 15px 50px !important;
}
.access-btn:hover{
  color: white;
}